.body{
    background-color: rgb(197, 231, 220);
    height:100vh;
    width: 100vw;
    margin-top: -10px;
    padding-top: 15px;
}
.pharmacie-details h3{
color: red;
position: relative;
bottom: 80px;
right: 80px;
}

.search{
    margin-top: 25%;
}
.pharmacie-container{
    margin: 5% 10%;
  
    width: 80vw;
    background-color: white;
    border:solid 2px #ccc;
    border-radius: 25px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
}
.logo{
    margin: 5px auto 0;
    width: 30vw;
    border-radius: 25px;  
 
   
}
.link-pharmacy{
    color: black;
}
.loading{
    color :red;
    font-size: 2rem;
    font-weight: bold;
    margin: 25% 30% 0;
}
@media (min-width: 768px){
    .body{
    padding-top: 20px;
    }
    .search{
        margin-top: 10%;
    }
    .pharmacie-container{
        background: rgb(249, 250, 250);
        width: 25vw;
    }
    .logo{
        width: 2vw;
        margin: 5px auto 0;
    }
    .pharmacie-page{
        
        margin-left: 6%;
        margin-top: 2%;
        display: flex;
        flex-direction: row;
        gap: 5%;
    }
    .loading{
        
        font-size: 3rem;
        margin: 25% 30% 0;
    }
}
