.mediLogo{
    display: flex;
    align-items: center; 
    justify-content: left; 
    text-align: center; 
    position: relative;
    top: 0px;
    left: 0px;

}
.mediLogo img{
    width: 6rem;
    height: 5rem;
}
