.mediLogo{
    display: flex;
    align-items: center; 
    justify-content: left; 
    text-align: center; 
    position: relative;
    top: 0px;
    left: 0px;
    

}
.mediLogo img{
    width: 5rem;
    height: 4rem;
}
.mediLogo h1{
    font-size: 2rem;
    color: #fdfafd;
}