.account-container{
    margin-top: 20%;
    margin: 1.6rem;
}
.user-name{
  display: block;  
  margin-left: 30px;
}
.account-content{
    text-align: center;
}
.a{
  color: blue;
}

@media (min-width: 768px){
   .account-container{
     margin-top: 11%;
    }
}