.signup-container{
    width: 100vw;
    height: 100vh;
    padding-left: 0px;
    margin:40px auto 0;
    box-sizing: border-box;
    background: rgb(74, 74, 244);
    padding-top: 25%;
    
}
.signup-form {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-align: center;
    padding: 20px; 
    background: white; 
    border-radius: 10px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
}
.signup-form input {
    width: 80%;
    text-align: center;
    padding: 10px; 
    border-radius: 25px;
    border: 1px solid #ccc; 
    margin-bottom: 15px; 
}
.signup-form button {
    width: 80%;
    padding: 10px;
    border: none;
    border-radius: 25px;
    background-color: #4CAF50; /* Primary button color */
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.signup-form button:hover {
    background-color: #45a049; /* Darker shade on hover */
}
#l1, #l2{
    display: flex;
    flex-direction: row;
}
.error{
    color: red;
    margin-top: 5px;
}
@media (max-width: 600px) {
    .signup-form input {
        width: 95%; /* Full width on smaller screens */
    }
}