header{
   max-width: 100%;
   width: 100vw;
    position: fixed;
    display: flex;
    font-size: 1.2rem;
    padding: 0 2rem;
    text-align: center;
    height: max-content;
    justify-content: space-between;
    background-color: rgb(3, 3, 3);
    margin: 0px;
    top: 0%;
    left: 0%;
    color: white;
  

}
nav{
   
    padding-right: 3rem;
    /* padding-left: 5%; */
    text-align: end;

    

}
ul{
    
    display: flex;
    flex-direction: row;
}

nav a{
    color: white;
    text-decoration: none;
    margin: 0 2rem;
    color: rgb(8, 9, 8);
}
.na-link{
    color: white;
}
.na-link:hover{
    color:#eee;
}
ul li {
    
    display: flex;
    flex-direction: row;
    }
#l-user{
    display: flex;
    align-items: start;
    margin: 1px;
    border: 1;
    border-color: black;
    border-radius: 5px;
}
.na-link.active {
    font-weight: bold;
    background-color: rgb(249, 209, 109); /* Active link color */
    /* border-radius: 25px; */
    color: rgb(255, 0, 0);
    width: fit-content;
  }
.nav-btn{
    font-size: 2rem;
    opacity: 0;
    visibility: hidden;
    background:transparent;
    border: none;
    cursor: pointer;
    color: rgb(251, 248, 248);
}
@media screen and (max-width: 1024px){
    header .nav-btn{
        opacity: 1;
        visibility:visible;
    }
    ul{
        position: fixed;
        top: 0;
        left: 0;
        width: 50vw;
        height: max-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: 0s;
        transform: translateY(-103vh);
        background-color: #090909;
        gap: 1.5rem;
        padding: 0;
        list-style-type:none;
        opacity: 80%;
       
        
    }
    .responsive-nav{
        margin-top: 80px;
       
        margin-left: 70%;
        padding-top: 0;
        height: 40vh;
        width: 30vw;
        transform: none;
        z-index: 100;
       
    }
    .header{
        margin-bottom: 50%;
    }
    nav .nav-close-btn{
        position: absolute;
        top:0;
        right:0;
    }
 nav a{

    color: white;
 }
}