header{
   max-width: 100%;
   width: 100vw;
    position: fixed;
    display: flex;
    padding: 0 2rem;
    text-align: center;
    height: 110px;
    justify-content: space-between;
    background-color: blue;
    margin: 0px;
    top: 0%;


}
nav{
    /* padding-left: 5%; */
    text-align: end;

    

}
ul{
    display: flex;
    flex-direction: row;
}

nav a{
    text-decoration: none;
    margin: 0 2rem;
    color: rgb(8, 9, 8);
}
.na-link:hover{
    color:#eee;
}
ul li {
    display: flex;
    flex-direction: row;
    }
#l-user{
    display: flex;
    align-items: start;
    margin: 1px;
    border: 1;
    border-color: black;
    border-radius: 5px;
}